<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>busqueda usuario</h1>
    
<form action=" {% url "buscar" %} " method="GET"> {% csrf_token %}

    <input type="text", name="usuario">

    <input type="submit", value="Buscar">

    {% if mensaje %} 
        
        {% else %}
        <h2> Resultado busqueda</h2>
        {% for usuario in usuarios %}
        
        <h2>{{usuario.usuario}} </h2>
        <h2>{{usuario.emial}} </h2>
        <h2>{{usuario.password}} </h2>
        {% endfor %}
        {% endif %}
</form>


</body>
</html>