<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class=""mb-5>Listado de usuarios</h1>
    
    {% for p in usuarios %}
        <h2> usuario: {{ p.usuario }}, email: {{ p.email }} - contraseña: {{ p.password }} </h2>
        
    <button>
        <a class="btn btn-success" href="{% url 'eliminaruser' p.id %}">Eliminar</a>
        <a class="btn btn-success" href="{% url 'edituser' p.id %}">Editar</a>        
    </button>
    {% endfor %}
    <a class="btn btn-success" href="{% url 'uformulario' %}">Agregar usuario</a>
   
    
 
    
</body>
</html>