<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOLA</title>
    <h2></h2>
    <input aria-label="Contraseña" aria-required="true" autocapitalize="off" autocorrect="off" name="password" type="password" class="_2hvTZ pexuQ zyHYP" value>
</head>
<body>
    <1> Bienvenidos a mundoblog</1>
    <selection>
        {% for elemento in articulos %}
        <article>
            <h3>{{ elemento.nombre }}</h3>
        </article>
        {% endfor %}
    </selection>
</body>
</html>